<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoritePerson()" *ngIf="isFavorite1">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoritePerson()" *ngIf="!isFavorite1">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="person" class="person-card">

  <ion-item class="person-card" lines="none">
    <ion-icon name="transgender-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>

        <ion-col col-12 col-sm>
          <div>Gender:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.gender }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="person-info" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Eye Color:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.eye_color }}</div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="person-card" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Hair Color:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.hair_color }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="person-info" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Skin Color:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.skin_color }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item class="person-card" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Year of Birth:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.birth_year }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="person-info" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Height:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.height }}</div>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item class="person-card" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
      
        <ion-col col-12 col-sm>
          <div>Mass:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ person.mass }}</div>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>
<br><br><br><br>

<ion-button expand="full" (click)="SendEmail()">Share via Email<ion-icon name="mail-outline"></ion-icon></ion-button>
  <ion-button expand="full" (click)="ShareFacebook()">Share on Facebook<ion-icon name="logo-facebook"></ion-icon></ion-button>
  <ion-button expand="full" (click)="SendTwitter()">Share on Twitter<ion-icon name="logo-twitter"></ion-icon></ion-button>
  <ion-button expand="full" (click)="SendInstagram()">Message on Instagram<ion-icon name="logo-instagram"></ion-icon></ion-button>

</ion-content> 