<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoritePerson()" *ngIf="isFavorite1">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoritePerson()" *ngIf="!isFavorite1">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="person" class="person-card">

    <ion-item class="person-info" lines="none">
      <ion-icon name="transgender-outline" slot="start"></ion-icon>
      <p><strong>Gender:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.gender }}</p>
    </ion-item>

    <ion-item class="person-card" lines="none">
      <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      <p><strong>Eye Color:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.eye_color }}</p>
    </ion-item>

    <ion-item class="person-info" lines="none">
      <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      <p><strong>Hair Color:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ person.hair_color }}</p>
    </ion-item>

    <ion-item class="person-card" lines="none">
      <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      <p><strong>Skin Color:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ person.skin_color }}</p>
    </ion-item> 
 
    <ion-item class="person-info" lines="none">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <p><strong>Height:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.height }}</p>
    </ion-item>
 
    <ion-item class="person-card" lines="none">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <p><strong>Mass:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.mass }}</p>
    </ion-item>

    <ion-item class="person-info" lines="none">
      <ion-icon name="walk-outline" slot="start"></ion-icon>
      <p><strong>Birth Year:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ person.birth_year }}</p>
    </ion-item>
</ion-card>
<br><br><br><br>
  <ion-button expand="full" class="email" (click)="shareFilm()">Share by Email

  </ion-button>
 
</ion-content>