<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ people?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoritePerson()" *ngIf="isFavorite1">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoritePerson()" *ngIf="!isFavorite1">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="person" class="person-card">

  <ion-item class="person-card" lines="none">
    <ion-icon name="transgender-outline" slot="start"></ion-icon>
    Gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.gender }}
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      Eye Color:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.eye_color }}
  </ion-item> 

  <ion-item class="planet-card" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      Hair Color:&nbsp;&nbsp;&nbsp;&nbsp;{{ person.hair_color }}
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="color-filter-outline" slot="start"></ion-icon>
      Skin Color:&nbsp;&nbsp;&nbsp;&nbsp;{{ person.skin_color }}
  </ion-item>
  
  <ion-item class="planet-card" lines="none">
    <ion-icon name="walk-outline" slot="start"></ion-icon>
      Birth Year:&nbsp;&nbsp;&nbsp;&nbsp;{{ person.birth_year }}
  </ion-item>

  <ion-item class="planet-card" lines="none">
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    Height:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.height }}
  </ion-item>
  
  <ion-item class="planet-info" lines="none">
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    <strong>Mass:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ person.mass }}
  </ion-item> 
</ion-card>
<br><br><br><br>
<ion-button expand="full" (click)="sharePerson()">Share by Email</ion-button>

</ion-content> 