ion-title {
    --color-selected: var(--ion-color-secondary);
  }

ion-title {--color: #ffcc00;}

ion-item button detail lines {
  border: 1px solid var(--ion-color-secondary);
}

.ion-justify-content-center{
  text-align: center;
}

.login {text-align:center;}



