<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/planets">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ planet?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoritePlanet()" *ngIf="isFavorite2">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoritePlanet()" *ngIf="!isFavorite2">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="planet" class="planet-card">

  <ion-item class="planet-info" lines="none">
    <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
    Climate: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.climate }}
  </ion-item>

  <ion-item class="planet-card" lines="none">
    <ion-icon name="planet" slot="start"></ion-icon>
    Rotation Period:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.rotation_period }}
  </ion-item> 

  <ion-item class="planet-info" lines="none">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    Population:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.population }}
  </ion-item>

  <ion-item class="planet-card" lines="none">
    <ion-icon name="planet" slot="start"></ion-icon>
    Orbital Period:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.orbital_period }}
  </ion-item>
  
  <ion-item class="planet-info" lines="none">
    <ion-icon name="calculator-outline" slot="start"></ion-icon>
    Diameter:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.diameter }}
  </ion-item>
  
  <ion-item class="planet-card" lines="none">
    <ion-icon name="planet" slot="start"></ion-icon>
    Gravity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ planet.gravity }}
  </ion-item> 
</ion-card>
<br><br><br><br>
<ion-button expand="full" (click)="sharePlanet()">Share by Email</ion-button>

</ion-content> 