.planet-card {    
    --border: 1px solid var(--ion-color-secondary);
}

.planet-info {
    --background: #4a4a4a;
}

ion-title {--color: #ffcc00;}

.ion-justify-content-center{
    text-align: center;
}

.login {text-align:center;}

