<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ planet?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoritePlanet()" *ngIf="isFavorite2">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoritePlanet()" *ngIf="!isFavorite2">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="planet" class="planet-card">

  <ion-item class="planet-card" lines="none">
    <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>       
          <div>Rotation:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.rotation_period }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Climate:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.climate }}</div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="planet-card" lines="none">
    <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Terrain:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.terrain }}</div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Surface Water:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.surface_water }}</div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-item>



  <ion-item class="planet-card" lines="none">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Population:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.population }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="planet" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Orbital Period:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.orbital_period }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item class="planet-card" lines="none">
    <ion-icon name="calculator-outline" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Diameter:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.diameter }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="planet-info" lines="none">
    <ion-icon name="planet" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Gravity:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ planet.gravity }}</div>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </ion-item>
  
  
</ion-card>
<br><br><br><br><br>
<ion-button expand="full" (click)="sharePlanet()">Share by Email</ion-button>

</ion-content> 