<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button size="small" tab="films">
      <ion-icon size="small" name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>
    <ion-tab-button size="small" tab="people">
      <ion-icon size="small" name="people"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>
    <ion-tab-button size="small" tab="planets">
      <ion-icon size="small" name="planet"></ion-icon>
      <ion-label>Planets</ion-label>
    </ion-tab-button>
    <ion-tab-button size="small" tab="starships">
      <ion-icon size="small" name="star-outline"></ion-icon>
      <ion-label>Starships</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
