.starship-card {    
    --border: 1px solid var(--ion-color-secondary);
}

.starship-info {
    --background: #4a4a4a;
}

ion-title {--color: #ffcc00;}


.float-right{
    float:right; /* shift to right for alignment*/
    width:70%; /* set a width, you can use max-width to limit this as well*/
}

.ion-justify-content-center {justify-content: center;}

ion-button {--padding-right: 10px;}
          
.login {text-align:center;}