<!--referred to https://github.com/herbae/starwarsapp, for some of the code on this page, but later altered it. Also referred to tutorials from https://ionicacademy.com/ionic-crash-course/-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ starship?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteStarship()" *ngIf="isFavorite3">
        <ion-icon name="star" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteStarship()" *ngIf="!isFavorite3">
        <ion-icon name="star-outline" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="starship" class="starship-card">

  <ion-item class="starship-card" lines="none">
    <ion-icon name="star-half-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>

        <ion-col col-12 col-sm>
          <div>HD Rating:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.hyperdrive_rating}}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-info" lines="none">
    <ion-icon name="calculator-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Supplies:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.consumables }}</div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-card" lines="none">
    <ion-icon name="people-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Passengers:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.passengers }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-info" lines="none">
    <ion-icon name="calculator-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Max Speed:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.max_atmosphering_speed }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item class="starship-card" lines="none">
    <ion-icon name="calculator-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Cargo Capacity:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.cargo_capacity }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-info" lines="none">
    <ion-icon name="star-half-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Class:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.starship_class }}</div>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-card" lines="none">
    <ion-icon name="calculator-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Cost in Credits:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.cost_in_credits }}</div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="starship-info" lines="none">
    <ion-icon name="calculator-outline" color="warning" slot="start"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <div>Length:</div>
        </ion-col>
        
        <ion-col col-12 col-sm>
          <div>{{ starship.length }}</div>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </ion-item> 
  <br>
  
  <ion-button expand="block" color="medium-shade" (click)="ShareLink('text')">Login to Share<ion-icon name="share-social-outline" color="warning" slot="icon-only"></ion-icon></ion-button>
      
  <br>
    <ion-grid>    
      <ion-row class="float-right">
      <ion-col size="2">
          <ion-button color="warning" (click)="SendEmail()"><ion-icon name="mail-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    
      <ion-col size="2">
        <ion-button color="primary" (click)="ShareFacebook()"><ion-icon name="logo-facebook" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    
      <ion-col size="2">
        <ion-button color="secondary" (click)="SendTwitter()"><ion-icon name="logo-twitter" slot="icon-only"></ion-icon></ion-button>
      </ion-col>
    
      <ion-col size="2">
        <ion-button color="tertiary" (click)="SendInstagram()"><ion-icon name="logo-instagram" slot="icon-only"></ion-icon></ion-button>
      </ion-col>

      <ion-col size="2">
        <ion-button color="success" (click)="ShareWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>  
      
    </ion-row>
    </ion-grid>   
</ion-card>
</ion-content>  
