<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

    <ion-card *ngIf="film" class="movie-card">
    
    <ion-item class="movie-card" lines="none">
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <p><strong>Story:</strong><br><br>{{ film.opening_crawl }}</p>
    </ion-item>
 
    <ion-item class="movie-info" lines="none">
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <p><strong>Director:</strong><br><br>{{ film.director }}</p>
    </ion-item>
 
    <ion-item class="movie-card" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <p><strong>Release Date:</strong><br><br>{{ film.release_date | date }}</p>
    </ion-item>
  </ion-card>
 <br><br><br><br>
  <ion-button expand="full" class="email" (click)="shareFilm()">Share by Email

  </ion-button>
 
</ion-content>