<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

    <ion-card *ngIf="film" class="movie-card">
    
    <ion-item class="movie-card" lines="none">
      <p class="story" style="color: #ffcc00;">Story:</p>
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="film-outline" size="small" color="warning" slot="start"></ion-icon>
      {{ film.opening_crawl }}
    </ion-item>
 
    <ion-item class="movie-card" lines="none">      
      <p class="story" style="color: #ffcc00;">Director:</p>
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="film-outline" size="small" color="warning" slot="start"></ion-icon>
      {{ film.director }}
    </ion-item>
 
    <ion-item class="movie-card" lines="none">
      <p class="story" style="color: #ffcc00;">Release Date:</p>
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" size="small" color="warning" slot="start"></ion-icon>
      {{ film.release_date | date }}
    </ion-item>

    <br>  
    <div class="login" style="color: #ffcc00;"><em>Login to Share</em></div>

      <ion-grid>    
        <ion-row class="ion-justify-content-center">
        <ion-col size="2">
            <ion-icon name="share-social-outline" color="warning" style="padding-top:13px" ></ion-icon>
        </ion-col>
  
        <ion-col size="2">
            <ion-button size="small" color="warning" (click)="SendEmail()"><ion-icon name="mail-outline"></ion-icon></ion-button>
        </ion-col>
      
        <ion-col size="2">
          <ion-button size="small" color="primary" (click)="ShareFacebook()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        </ion-col>
      
        <ion-col size="2">
          <ion-button size="small" color="secondary" (click)="SendTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-button>
        </ion-col>
      
        <ion-col size="2">
          <ion-button size="small" color="tertiary" (click)="SendInstagram()"><ion-icon name="logo-instagram"></ion-icon></ion-button>
        </ion-col>
  
        <ion-col size="2">
          <ion-button size="small" color="success" (click)="ShareWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
        </ion-col>  
        
      </ion-row>
      </ion-grid>   
  </ion-card>
  </ion-content>  